body{
	background-image: url('bg.jpg'); 
}

.btn{
	color: darkcyan;
	height: 40px;
	width: 100px;
	background-color: yellowgreen;
	border: 0;
	font-size: 20;
	font-family: monospace;
	transition-duration: 0.4s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn:hover{
	background-color: black;
	color: white;
	cursor: pointer;
	

}
.reg{
	width: 20%;
	height: 80%;
	position: absolute;
	left: 35%;
  	padding-left: 5%;
  	padding-right: 5%;
  	padding-bottom: 5%;
  	align-self: center;
  	background-color: skyblue;
  	align-self: center;
  	border-radius: 20px;
  	
	
	}
.textbox{
	width: 80%;
	height: 5%;	
	align-items: center;
	font-size: 20;
	font-family: monospace;	
 }
 h1{
	text-align: center;
  	text-transform: uppercase;
  	color:crimson;
	font-family: fantasy;
	font-weight: 100;
	
 }
 
 /*question*/
 #maincontent{
		
		border-color: black;
		background-color: skyblue;
		margin-left: 310;
		margin-right: 400;
		margin-top: 100;
		padding: 5%;
		width: 50%;
}
span.que{
	font-size: 25px;
	margin-right: 20%;
	
}
#qno{
	font-size: 25;
	width: 10%;
	margin-right: 10%;
	color: black;
	border: none;
	background: transparent;
	
}
#qtext{
	border: none;
	font-size: 25;
	color: black;
	width: 100%;
	background: transparent;
	
}
.qb{
	margin-left: 10%;
	margin-right: 5%;
}
.radio1{
	margin-left: 50px;
}
 